.["splashImageHeight"].splashImageHeight {display: none}

.["sizeLarge"].sizeLarge {display: none}
              
.["buttons"].buttons {background-color: azure}

.["barBase"].newMessagesBar { color: #000; }
.["emojiContainer","emojiContainerClickable"].emojiContainer { color: #000; }

.["emojiContainer","!footer", "!emojiContainerClickable"].emojiContainer { color: #000; }

.["scrollerBase"][0].scrollerBase 
